# Build results
[Dd]ebug/
[Rr]elease/
*.sbr
*.bsc
*.pdb
*.obj
*.o
*.exe
*.exe
*.dll
*.suo
*.user
*.ilk

# VS Temporary files
[Oo]bj/
[Bb]in/
*.log
*.vspscc
*.vssscc
*.tmp
*.bak
*.orig
*~

# NuGet packages
packages/
*.nupkg
.nuget/packages/

# Rider/VS Code/VS Studio
.idea/
.vscode/
.vs
